@import "~bootstrap/dist/css/bootstrap.min.css";
html {
  font-size: 12px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}
body {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
#background1 {
  background: rgb(0, 168, 120);
  background: linear-gradient(
    54deg,
    rgba(0, 168, 120, 1) 70%,
    rgba(1, 147, 105, 1) 100%
  );
  position: absolute;
  z-index: -3;
  top: 0%;
  width: 100%;
  height: 100%;
  clip-path: polygon(15% 0, 100% 85%, 100% 0);
}
#background2 {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  clip-path: polygon(15% 0, 100% 85%, 100% 100%, 0 0);
  position: absolute;
  z-index: -3;
  top: 0%;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.more-link {
  display: none;
}
span {
  margin: 0.5rem;
}
nav > a {
  margin: 0rem 0.5rem;
  padding-right: 0.3rem;
  border-right: 1px solid black;
}
.img {
  height: 100px;
  width: 150px;
}
.flex-parent {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 2rem 3rem;
  border-radius: 3px;
}
.cards {
  max-width: 180px;
  max-height: 350px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
}
.backgroundC {
  background-color: rgba(255, 255, 255, 0.541);
}
.button {
  background-color: rgb(0, 168, 120);
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  font-weight: bold;
}
.button:hover {
  background-color: rgb(67, 175, 144);
}
.button > a {
  color: black;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f10c;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.089);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.308);
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.preview {
  margin: 0.5rem 0rem;
}
.shadow:hover {
  box-shadow: 0px 0px 20px 0px #0000007e !important;
}
footer {
  padding: 1rem 0rem;
  margin-top: 1rem;
  border-top: 1px solid black;
  text-align: center;
}
address {
  text-align: center;
  font-size: 0.9rem;
}
address > div {
  cursor: pointer;
}
.logo {
  height: 80px;
}
.social {
  font-size: 1.2rem;
}
.logoHome {
  height: 50px;
  margin-top: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}
.copyright {
  padding-top: 1.7rem;
  margin-top: 2rem;
  font-size: 0.6rem;
}
