@import "~bootstrap/dist/css/bootstrap.min.css";

body{
  background-color: #ffc107;
}
.cont{
  margin: 3rem;
  border:1px solid black;
}
a{
  text-decoration: none;
  color: black;
}
span{
  margin: 0.5rem
}
nav > a{
  margin: 0rem 0.5rem;
  padding-right: 0.3rem;
  border-right: 1px solid black;
}
